.builder {
    margin-top:60px;
    @extend %clearboth;
    .fs_Button {
	margin:0 5px 0 0;
    }
    .topbar-wrap {
	background: #fff;
	position:fixed;
	top:35px;
	left:190px;
	z-index:99999;
	@extend %clearboth;
	.tables {
	    margin:0;
	    @extend %clearboth;
	    .table {
		float:left;
	    }
	}
    }
    .type-list-wrap {
	$spacing:3px;
	li {
	    margin:$spacing;
	}
	ul.type-list {
	    @extend %clearboth;
	    text-align: center;
	    li.type-list-type {
		border-top-right-radius:10px;
		border-top-left-radius:10px;
		text-align: center;
		/*float:left;*/
		display: inline-block;
		border:2px solid blue;
		> span {
		    @include bg(blue);
		    display: block;
		    padding: $spacing;
		    color:#fff;
		    font-weight: bold;
		    font-size:17px;
		}
		ul.types-type {
		    float:left;
		    padding:$spacing;
		    border:1px solid lightcyan;
		    background:lightcyan;
		    li.type-list-cat {
			border:2px solid cyan;
			float:left;
			> span {
			    @include bg(cyan);
			    display: block;
			    padding: $spacing;
			    font-weight: bold;
			    font-size:14px;
			}
			ul.types-subcats {
			    @extend %clearboth;
			    li.type-list-subcat {
				margin:0;
				> span {
				    cursor:pointer;
				    display: block;
				    padding: $spacing $spacing * 2 $spacing $spacing * 2;
				    background:lightyellow;
				    margin:0;
				    font-weight:bold;
				    font-size:13px;
				    &.active,
				    &:hover {
					background:yellow;
				    }
				}
			    }
			}
		    }
		}
	    }
	}
    }
}
.type-list-listing{
    text-align: center;
}
.types-item-wrap {
    vertical-align: top;
    display: inline-block;
}
.type-item {
    min-width:375px;
    min-height:175px;
    background: #fff;
    margin:20px 20px 0 0;
    position:relative;
    border:1px solid black;
    &:hover {
	/*background: #eee;*/
    }
    .progress {
	display:none!important;
    }
    .item-model {
	border-right:1px solid #000;
	text-align: center;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	@include size(100px,100px);
    }
    .item-opts {
	vertical-align:top;
    }
    .model-wrap {
	@include pos(0,0);
	position: relative;
	-ms-transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	.model {
	    @include pos(0,0);
	    position: relative;
	    -ms-transform: translate(0%, 0%);
	    -webkit-transform: translate(0%, 0%);
	    transform: translate(0%, 0%);
	}
    }
    .item-title-bar {
	cursor:pointer;
	background: #000;
	color:#fff;
	padding:$spacing * 3;
	text-align:left;
	position:relative;
	z-index: 999;
	font-weight: bold;
	font-size:16px;
    }
    .item-body {
	text-align: center;
	position:relative;
	.add-option {
	    @include pos(0,0);
	}
	.model-wrap {
	    @include pos(0,0);
	    position: relative;
	    -ms-transform: translate(0%, 0%);
	    -webkit-transform: translate(0%, 0%);
	    transform: translate(0%, 0%);
	    .model {
		@include pos(0,0);
		position: relative;
		-ms-transform: translate(0%, 0%);
		-webkit-transform: translate(0%, 0%);
		transform: translate(0%, 0%);
	    }
	}
	.item-options {
	    vertical-align: top;
	    position:relative;
	    z-index: 999;
	    text-align:center;
	    > span {
		display: none;
		background: rgba(255,255,255,1);
		text-align: center;
		font-weight: bold;
	    }
	    .produce-wrap {
		padding:3px 0;
		/*border-top:1px solid #aaa;*/
		.produce-title {
		    display: none;
		    background: rgba(255,255,255,1);
		    text-align: center;
		    font-weight: bold;
		}
	    }
	}
    }
    .item-foot {
	padding:$spacing / 2 $spacing / 2 $spacing / 2 $spacing / 2;
	background: #bbb;
	color:#000;
	position:relative;
	z-index: 999;
    }
}

.produce {
    td {
	border-top:1px solid #aaa;
	vertical-align: middle;
	text-align: center;
	&:nth-child(1) {
	    /*width:43%;*/
	}
	&:nth-child(2) {
	    /*background: #eee;*/
	    /*width:14%;*/
	}
	&:nth-child(3) {
	    /*width:43%;*/
	}
	.produce-item {
	    display: inline-block;

	    position:relative;
	    vertical-align:top;
	    .produce-nameqty {
		@include pos(auto,auto,5px,3px);
		font-size: 10px;
		padding:0;
		background: rgba(0,0,0,0.7);
		color:#fff;
		border-radius: 5px;
		z-index:99;
	    }
	}
    }
}

.tabs-wrapper {
    @extend %tabs;
    text-align:center;
    /*min-width: 332px;*/
}

.optionListItem {
    display: inline-block;
    padding:2px;
    cursor:pointer;
}

.context-menu {
    position:absolute;
    z-index:1000000;
    padding:15px;
    .context-menu-item {
	cursor:pointer;
	@include bg(#fff);
	border:1px solid black;
	border-bottom:none;
	padding:5px;
	&:hover {
	    background:#000;
	    color:#fff;
	}
	&:last-child {
	    border-bottom:1px solid black;
	}
    }
}
.clone-type {
    @include pos(2px,auto,auto,0);
    color:#000;
    &:hover {
	color:#fff;
    }
}
.edit-layout-vars {
    table {
	margin:5px auto;
	td {
	    padding:5px;
	    text-align:center;
	}
    }
}



.objectArranger {
    #object-arranger {
	float:left;
	margin:15px;
	border-bottom:1px solid #aaa;
	border-left:1px solid #aaa;
	.object-arranger-obj {
	    position: relative;
	    border:1px solid #aaa;
	    padding:5px;
	    vertical-align:top;
	    cursor:pointer;
	    @extend %clear-both;
	    span {
		display: inline-block;
		height:20px;
		line-height:20px;
		vertical-align: top;
	    }
	    > div {
		vertical-align: top;
		position:relative!important;
		display: inline-block;
		margin-right:10px;
		height:15px;
		width:15px;
	    }
	    &:hover {
		background:#000;
		color:#fff;
	    }
	    &.active {
		background:yellow;
		color:#000!important;
	    }
	}
    }
    .object-container {
	$arrangesize: 550px;
	overflow: hidden;
	position: relative;
	height:$arrangesize;
	width:$arrangesize;
	border:1px solid #aaa;
	float:right;
	.cont-center {
	    @include pos(76%,60%);
	    /*	    @extend %xy_center;*/
	    /*	    min-width:40px;
			min-height:40px;*/
	    border:1px solid #000;
	    > div {
		position: absolute;
	    }
	    .active {
		background: yellow!important;
		/*z-index:100;*/
	    }
	    &:before {
		content:'';
		@extend %xy_center;
		@include size(1px,$arrangesize * 3);
		background:rgba(0,0,0,0.3);
		z-index: 10000;
	    }
	    &:after {
		content:'';
		@extend %xy_center;
		@include size($arrangesize * 3,1px);
		background:rgba(0,0,0,0.3);
		z-index: 10000;
	    }
	}
	.object-arranger-zoom {
	    /*@include bg(#fff);*/
	    /*padding:5px;*/
	    @include pos(0,0);
	    .object-arranger-zoom-plus {
		display: inline-block;
	    }
	    .object-arranger-zoom-text {
		/*padding:0 5px;*/
		display: inline-block;
	    }
	    .object-arranger-zoom-minus {
		display: inline-block;
	    }
	}
	.object-arranger-scale {
	    /*@include bg(#fff);*/
	    /*padding:5px;*/
	    @include pos(0,auto,auto,0);
	    .object-arranger-scale-plus {
		display: inline-block;
	    }
	    .object-arranger-scale-text {
		/*padding:0 5px;*/
		display: inline-block;
	    }
	    .object-arranger-scale-minus {
		display: inline-block;
	    }
	}
	.object-arranger-pos {
	    /*@include bg(#fff);*/
	    @include pos(0,auto,auto,178px);
	    .object-arranger-topPos {
		width:63px;
	    }
	    .object-arranger-leftPos {
		width:63px;
	    }
	    .object-arranger-size {
		width:63px;
	    }
	    .object-arranger-topText {
		display: inline-block;
		padding:0 5px;
	    }
	    .object-arranger-leftText {
		display: inline-block;
		padding:0 5px;
	    }
	    .object-arranger-sizeText {
		display: inline-block;
		padding:0 5px;
	    }
	}
    }
}

.type-src-value {
    img {
	float:right;
	max-height:30px;
    }
}
.type-number-value {
    input {
	width:75px;
    }
}

.option-input-wrap {
    @extend %clearboth;
    > div {
	/*float:left;*/
    }
    > div {
	font-weight: bold;
	text-transform: capitalize;
	min-width:85px;
    }
    > div:last-child {

    }
}

.levels-wrap {
    float:left;
    .type-item {
	display:none;
    }
    .type-item:first-child {
	display:block;
    }
    &.active {
	.type-item {
	    display:block;
	}
    }
}

.produceMulti-table {
    .model-th {
	height:40px;
	.model-wrap {
	    @include pos(0,0);
	    position: relative;
	    -ms-transform: translate(0%, 0%);
	    -webkit-transform: translate(0%, 0%);
	    transform: translate(0%, 0%);
	    .model {
		@include pos(0,0);
		position: relative;
		-ms-transform: translate(0%, 0%);
		-webkit-transform: translate(0%, 0%);
		transform: translate(0%, 0%);
	    }
	}
    }
    td {
	padding:3px;
	border-left:1px solid #000;
	text-align: center;
    }
    .model-name-td {

	height:30px;
	font-weight: bold;
    }
}

.produce-input-panel,
.produce-output-panel {
    @extend %clearboth;
}
.produce-type {
    border:1px solid #ccc;
    display: inline-block;
    /*padding:5px;*/
    margin:5px;
    cursor: pointer;
}
.produce-type:hover {
    background: #eee;
}
.produce-type{
    .model-wrap {
	height:75px;
	width:75px;
    }
}
.mounts-wrap {
    @include size(100px,100px);
    margin:auto;
    position:relative;
    border:1px solid #000;
    .mount-point {
	cursor:pointer;
	position:absolute;
	@include size(20px,20px);
	background:#fff;
	border:1px solid #000;
	border-radius:50%;
	&.used {
	    background:#000;
	}
    }
}
.pByTable {
    th {
	font-size:14px;
	font-weight:bold;
    }
    td {
	border-top:1px solid #000;
    }
    .keyCol {
	padding-right:5px;
	font-size:15px;
	text-align:left;
    }
    .valCol {
	border-left:1px solid #000;
	text-align:center;
	padding:0 4px;
	font-size:14px;
    }
}
.connect-item{
    display: inline-block;
}

.chain-wrap {
    text-align:center;
    @extend %clearboth;
    > .chain {
	border:none!important;
	@extend %clearboth;
	> .chain-item {
	    -webkit-box-shadow: none!important;
	    -moz-box-shadow:    none!important;
	    box-shadow:         none!important;
	    > .chain {
		border:none!important;
		float:none;
		display: block;
	    }
	     .produce-type {

	    }
	}
    }
    .chain {
	padding:0px;
	/*border:1px solid #aaa;*/
	/*background:#eee;*/
	position:relative;
	.chain-item {
	    float:none;
	    font-size:14px;
	    white-space:nowrap;
	    display: inline-block;
	    vertical-align:top;
	    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 1);
	    -moz-box-shadow:    0px 2px 2px 0px rgba(0, 0, 0, 1);
	    box-shadow:         0px 2px 2px 0px rgba(0, 0, 0, 1);

	}
	.model-wrap {
	    display: block;
	    text-align:center;
	    .model {
		position: relative;
		top:0;
		left:0;
		-webkit-transform: none;
		transform: none;
		display: inline-block;
	    }
	}
	&:empty {
	    display: none;
	}
	&.depth-1 {
	    @extend %clearboth;
	    > .chain-item {
		float:left;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		margin:3px;
		padding:5px;
		background:darken(#FFFFE0,10%);
	    }
	}
	&.depth-2 {
	    background:darken(#FFFFE0,20%);	}
	&.depth-3 {
	    background:darken(#FFFFE0,30%);

	}
	&.depth-4 {
	    background:darken(#FFFFE0,40%);
	}
	&.depth-5 {
	    background:darken(#FFFFE0,50%);
	}
	&.depth-6 {
	    color:#fff;
	    background:darken(#FFFFE0,60%);
	}
    }
}

.subcat-title {
    text-align:center;
    font-size:32px;
    font-weight: bold;
    padding:20px 0;
}

.type-options-refresh,
.type-options-save {
    z-index:1000;
    background: #007cba;
    border-color: #007cba;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px !important;
    font-size: 28px !important;
    i:before {
	/*padding: 13px 0 0 0!important;*/
	font-size: 28px !important;
    }
}
.type-options-refresh, {
    bottom: auto;
    top: 100px;
    i {
	/*padding-right:15px;*/
    }
}

.open-image-link,
.subcat-context-link {
    color:blue;
    cursor:pointer;
}

.image-picker-wrap {
    width:819px;
    padding:10px;
    .tables-td {
	vertical-align:top;
	.image-picker-tables {
	    ul {
		display:inline-block;
		li {
		    white-space:nowrap;
		    padding:5px 10px;
		    border:1px solid #000;
		    margin:1px 0 0 0;
		    padding:2px 10px;
		    cursor:pointer;
		    span {
			font-weight:bold;
			text-transform: capitalize;
		    }
		    &:hover,
			&.active {
			background: yellow;
		    }
		}
	    }
	}
    }
    .images-td {
	vertical-align:top;
	.image-picker-images {
	    max-height:600px;
	    overflow-y: auto;
	    ul {
		@extend %clearboth;
		li {
		    float:left;
		    margin:0 0px 0px 0;
		    padding:5px;
		    cursor:pointer;
		    &:hover,
			&.active {
			background: blue;
		    }
		    img {
			height:50px;
			width:auto;
		    }
		}
	    }
	}
    }
}

body {
    color:#000;
}
%table-header {
    font-weight:bold;
    font-size:18px;
    padding:7px 10px;
    background:#ddd;
    /*border-bottom:1px solid #888;*/
}
.text-center{
    text-align: center;
}
.type-table {
    h1 {
	margin:20px 0;
	font-size:32px;
	font-weight:bold;
	text-transform: capitalize;
    }
    color:#000;
    thead {
	th {
	    @extend %table-header;
	}
    }
    tbody {
	tr {
	    td {
		border-bottom:1px solid #aaa;
		padding:5px 10px 5px 0px;
		font-size:16px;
		vertical-align: middle;
		a {
		    text-decoration:none;
		    font-size:18px;
		    display:inline-block;
		    line-height: 1em;
		    padding:8px 0;
		    font-weight: bold;
		    text-decoration: none;
		    em {
			font-size:12px;
			font-weight: normal;
			font-style: normal;
		    }
		}
		img {
		    height:30px;
		    vertical-align: top;
		}

		&.options-name-val-td {
		    width:100px;
		}
		&.options-name-add-td {
		    width:100px;
		    text-align: center;
		}

	    }
	    &:last-child {
		td {
		    /*border-bottom:none;*/
		}
	    }
	    &:hover {
		/*background:#ddd;*/
	    }
	}
    }
}
.model-cell {
    text-align: center;
    width:33.3333%;
}
.types-submit {
    position:fixed;
    bottom:20px;
    right:20px;
    padding:10px 20px!important;;
    font-size:32px!important;
}

.option-group-list {
    select {
	float:left;
    }
    .option-group {
	@extend %clearboth;
	position:relative;
	.option-group-item {
	    padding:5px 5px 5px 0;
	    float:left;
	    .option-group-item-label {
		font-weight: bold;
		font-size: 16px;
		float:left;
		text-align: right;
		padding:0 5px;
		line-height:29px;
	    }
	    .option-group-item-value {
		float:left;
	    }
	    .option-group-item-model {
		position:relative;
	    }
	    &.option-group-type-number {
		input {
		    width:75px;
		}
	    }
	    &.option-group-type-default {
		input {
		    width:125px;
		}
	    }
	}
	.option-group-item-options {
	    padding:5px;
	    white-space:nowrap;
	    /*	    @include pos(-20px,0);
			display:none;*/
	    z-index: 2;
	    cursor:move;
	}
	&:hover {
	    background:#ccc;
	    .option-group-item-options {
		display:block;
	    }
	}
	&.option-group-panel,
	&.option-group-cylinder,
	&.option-group-layout,
	&.option-group-sphere,
	&.option-group-cube {
	    vertical-align:top;
	    width:24.8%;
	    display:inline-block;
	    border:1px solid #888;
	    margin-bottom:10px;
	    .option-group-item {
		overflow: hidden;
		display: block;
		float: none;
		width: 100%;
		@extend %clearboth;
	    }
	    > .option-group-type-default {
		float:none;
		display: block;
		.fs_Cube {
		    position:relative;
		}
	    }
	    .option-group-item-label {
		min-width:75px;
	    }
	}
	&.option-group-sphere {
	    width:25%;
	}

	&.option-group-produce {
	    vertical-align:top;
	    width:32%;
	    display:inline-block;
	    border:1px solid #888;
	    margin-bottom:10px;
	    .option-group-type-produce {
		.option-group-item-label {
		    display: none;
		}
		.option-group-item-value {
		    display: block;
		    width: 100%;
		}
	    }
	    .option-group-item {
		overflow: hidden;
		display: block;
		float: none;
		width: 100%;
		@extend %clearboth;
	    }
	    > .option-group-type-default {
		float:none;
		display: block;
		.fs_Cube {
		    position:relative;
		}
	    }
	    .container-input,
	    .container-output {
		float:left;
		width:40%;
		min-width: inherit;
		border:none;
		padding:0;
		margin:0;
		.produce-item-wrap {
		    padding:0;
		    margin:0;
		    width:100%;
		    white-space:nowrap;
		    > div {
			display: inline-block;
			float: left;
			border:none;
		    }
		}
	    }
	    .container-time {
		float:left;
		width:20%;
	    }

	    text-align:center;

	}
	&.option-group-layout {
	    .option-group-type-layout {
		text-align:center;
		.option-group-item-label {
		    float:none;
		    display: none;
		    text-align:center;
		}
		.option-group-item-value {
		    float:none;
		    display: inline-block;
		}
	    }
	}
    }
    .between-item {
	/*	display: inline-block;
		width:50px;*/
    }
}

.option-group-item-model {
    @extend clearboth;
    display: block;
    padding:10px;
    float:left;
}

.fs_Cube {
    @extend %fs_Cube-cont;
    top:0px;
    left:0px;
    > div {
	@extend %fs_Cube-panel;
	background-size: cover;
    }
}



.building {
    .model {
	position:relative;
	display: inline-block;
    }
}
.layout-row {
    vertical-align: top;
    white-space: nowrap;
    height:15px;
    .layout-cell {
	@extend %noselect;
	text-align: center;
	display: inline-block;
	width:15px;
	height:15px;
	line-height:15px;
	font-size: 10px;
	&.layout-cell-e {
	    background: #000;
	}
	&.layout-cell-s {
	    background: yellow;
	}
	&.layout-cell-p {
	    background: #ddd;
	}
	&.layout-cell-d {
	    background: pink;
	}
	&.layout-cell-h {
	    background: black;
	    color:#fff;
	    text-transform: uppercase;
	}
    }
}
.layout-editor {
    padding:20px;
}
.edit-layout {
    $layoutsize: 30px;
    margin:20px 20px 0 20px;
    .layout-row {
	height:$layoutsize;
	text-align:center;
	div {
	    display: inline-block;
	}
	.layout-cell {
	    -webkit-box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 1);
	    -moz-box-shadow:    0px 0px 1px 0px rgba(255, 255, 255, 1);
	    box-shadow:         0px 0px 1px 0px rgba(255, 255, 255, 1);
	    width:$layoutsize;
	    height:$layoutsize;
	    line-height:$layoutsize;
	    font-size: 18px;
	    position:relative;
	    cursor:pointer;
	    .layout-choices {
		z-index:2;
		@extend %xy_center;
		@include bg(#fff);
		padding:10px;
		.layout-choice {
		    margin:0;
		    display: block;
		    border: 1px solid #000;
		    width:50px;
		    height:$layoutsize;
		    &.layout-cancel {
			color:#000;
		    }
		}
	    }
	}
	.layout-fill {
	    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0, 1);
	    -moz-box-shadow:    0px 0px 1px 0px rgba(0,0,0, 1);
	    box-shadow:         0px 0px 1px 0px rgba(0,0,0, 1);
	    width:$layoutsize;
	    height:$layoutsize;
	    line-height:$layoutsize;
	    font-size:12px;
	    white-space:nowrap;
	    position:relative;
	    &:hover {
		background: #000;
		color:#fff;
	    }
	}
	.layout-empty {
	    -webkit-box-shadow: 0px 0px 1px 0px rgba(255,0,0, 1);
	    -moz-box-shadow:    0px 0px 1px 0px rgba(255,0,0, 1);
	    box-shadow:         0px 0px 1px 0px rgba(255,0,0, 1);
	    width:$layoutsize;
	    height:$layoutsize;
	    line-height:$layoutsize;
	    position:relative;
	    font-size:12px;
	    color:red;
	    i:before {
		line-height:$layoutsize;
	    }
	    &:hover {
		background: red;
		color:#fff;
	    }
	}
    }
}
/*
.group-interior {
    display: none;
    &.active {
	display: block;
    }
}*/
/*.button-wrapper {
    @include pos(0,auto,auto,0);
    @extend %clear-both;
    padding:10px;
    text-align:right;
    transform:scale(0.70);
    transform-origin:100% 0;
    .button {
	display: block;
    }
}*/
.button {
    &.head-button {
	float:left;
	margin:15px 20px 0 10px!important;
	&.new-button {
	    background:lightgreen;
	}
    }

    &.start-button,
    &.refresh-button,
    &.save-button {
	z-index:1000;
	background: #007cba;
	border-color: #007cba;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 0px 20px !important;
	font-size: 28px !important;
	i:before {
	    padding: 13px 0 0 0!important;
	    font-size: 28px !important;
	}
    }
    &.refresh-button {
	bottom: auto;
	top: 100px;
	i {
	    padding-right:15px;
	}
    }
    &.start-button{
	bottom: auto;
	top: 35px;
	float:none;
	margin:0;
	i {
	    padding-right:10px;
	}
    }
    &.option-group-item-delete,
    &.cancel-button {
	color:#fff;
	background:lightcoral;
    }
    &.delete-button {
	color:#fff;
	background:lightcoral;
    }
    &.yes-button {
	background:green;
	color:#fff;
    }
    &.add-button {
	background:lightgreen;
	color:#000;
    }


    i {
	display: inline-block;
	position: relative;
	top:5px;
    }

}



.nub_resource {
    > span {
	display: block;
    }
    padding:10px;
    margin:10px;
    border:1px solid #aaa;
    vertical-align: top;
    > div {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding:10px;
	margin:10px;
	border:1px solid #aaa;
    }
}
.nub_item {
    > span {
	display: block;
    }
    padding:10px;
    margin:10px;
    border:1px solid #aaa;
    > div {
	display: inline-block;
    }
}
.nub_celestial_objects {
    > span {
	display: block;
    }
    vertical-align: top;
    padding:10px;
    margin:10px;
    border:1px solid #aaa;
    position:relative;
    overflow:hidden;
    .nub_celestial_object {
	display: inline-block;
	border:1px solid #aaa;
	vertical-align: top;
	padding:10px;
	margin:10px;
	position:relative;
	overflow:hidden;
	.nub_satellite {
	    padding:10px;
	    margin:10px;
	    border:1px solid #aaa;
	    position:relative;
	    overflow:hidden;

	}
    }
}

.nub_platform {
    vertical-align: top;
    display: inline-block;
    padding:10px;
    margin:10px;
    position:relative;
    overflow:hidden;
    .nub_building {
	padding:10px;
	margin:10px;
	border:1px solid #aaa;
	position:relative;
	overflow:hidden;
    }
}


.type-groups-wrap {
    ul {
	@extend %clearboth;
	margin-left:15px;
	ul {
	    /*display: none;*/
	    &.active {
		display: none;
	    }
	    ul {
		ul {
		    li {
			float:left;
			text-align:center;
			border:1px solid #aaa;
			margin:30px 10px;
			.model {
			    position:relative;
			    display: block;
			    top:auto;
			    left:auto;
			    -webkit-transform: none;
			    transform: none;
			    margin:auto;
			}
		    }
		}
	    }
	}
	li {
	    border:1px solid #aaa;
	    padding:10px;
	    margin:10px;
	    .button {
		float:none;
		margin:0!important;
	    }
	}

    }
}

.produce-table {
    text-align: center;
    td {
	/*width:50%;*/
	padding:5px 5px;
    }
}
.container-input,
.container-output {
    /*border: 1px solid #aaa;*/
    @extend %clearboth;
    padding:5px 5px;
    margin:5px;
    min-width:350px;
}
.produce-item-wrap {
    @extend %clearboth;
    padding:5px;
    /*border:1px solid #aaa;*/
    display: inline-block;
    vertical-align:top;
    white-space: nowrap;
    > div {

    }
    .produce-item-label {
	@extend %clearboth;
	margin:0 15px;
	line-height: 40px;
	height: 40px;
	font-weight:bold;
	.qty {
	    float:right;
	    font-weight:bold;
	}
    }
}
.buildCostMulti-table {
    td {
	vertical-align: top;
    }
}
.php-error #adminmenuback, .php-error #adminmenuwrap {
    margin-top: 0!important;
}

.type-used {
    display:inline-block;
    /*padding:2px;*/
    margin:2px;
    border:1px solid #ccc;
}
.level-time {
    display:inline-block;
    padding:2px 7px;
    margin:2px;
    border:1px solid #ccc;
    cursor:pointer;
}
.level-time.active,
.level-time:hover {
    background:#333;
    color:#fff;
}
.level {
    display: none;
}

.produce-type {
    position: relative;
}
.produce-type-name {
    position: absolute;
    top:-2px;
    left:0;
    width:100%;
    text-align: center;
    background: rgba(0,0,0,0.7);
    /*padding: 2px 0;*/
    color:#fff;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
}
.produce-type-qty {
    position: absolute;
    left:0px;
    bottom:0px;
    font-size: 10px;
    font-weight: bold;
    width:100%;
    color:#fff;
    background: rgba(0,0,0,0.7);
    padding:0;
    font-weight: bold;
    line-height: 10px;
}
.produce-type-time {
    @extend %xy_center;
    font-size: 10px;
    font-weight: bold;
    color:#fff;
    background: rgba(0,0,0,0.7);
    padding:3px;
    font-weight: bold;
    line-height: 10px;
    width:100%;
}

.produce-type.type-add {
    display: block;
    padding:0;
    margin:0;
    border: 0;
}
.produce-type.type-add:hover {
    background: transparent;
}