%platform {
    box-sizing: border-box;
    @include bg(rgba(255,255,255,0.1),null,null,cover,null);
    display: block;
    border-radius:5px;
    cursor:pointer;
    transition:transform 250ms ease-in-out;
    .building-mount {
	display:block;
	position: absolute;
	@include size(25px * 1,25px);
	border-radius:50%;
	z-index:2;
	&.empty {
	    color:#fff;
	    line-height:25px;
	    text-align: center;
	    font-weight: bold;
	    &:hover {
		cursor:pointer;
		background:blue;
	    }
	    &:before {
		@extend %xy_center;
		content:'+';
		font-weight: bold;
		font-size: 28px;
		color:#fff;
	    }
	}
	.building {
	    > .model-wrap {
		@extend %xy_center;
	    }
	}
    }
    &.active {
	z-index:200;
	@include transform-scale-xy(2);
	box-shadow: inset 0px -6px 10px rgba(0,0,0,0.5);

	.platform-mount {
	    z-index:2;
	    cursor:pointer;
	    &.empty {
		display:block;
	    }
	}
	.building-mount {
	    display:block;
	    &.empty {
		display: none;
		background:rgba(86,86,86,1);
		display:block;
		&:hover {
		    display: block;
		    background:rgba(255,255,255,1);
		    cursor:pointer;
		}
	    }
	}
    }
}
.platform-area {
    display:block;
    @include pos(auto,auto);
    &.empty {
	z-index:2;
	cursor:pointer;
	&:hover {
	    border:1px dashed #fff;
	    @include bg(green,null,null,null);
	    &:after {
		content:'+';
		@extend %xy_center;
		font-size:30px;
		color:#fff;
		font-weight: bold;
	    }
	}
    }
}

.mid {
    .platform-area {
	position:absolute;
	.platform {
	    @extend %xy_center;
	    @extend %platform;
	}
    }
}

.bot {
    .list {
	.platform{
	    position: relative;
	    float:left;
	    cursor:pointer;
	    @extend %platform;
	    @include size($bot-size,$bot-size);
	    span {
		@extend %xy_center;
		width:100%;
		text-align:center;
		z-index:2;
	    }
	}
    }
}